/* You can add global styles to this file, and also import other style files */
body {

  background-color: #F0F0F0;
}
.navbar {
  background-color: #161616 !important;

}
.bg-body-tertiary {
  background-color: #161616 !important;
}
.nav-link{
  color: white !important;
}

.navbar-brand {
  color: white !important;
  margin-right: 30px !important;
}

.p-inputtext {
  width: 100% !important;
}
.p-button{
  width:  100% !important;
}

.p-datatable .p-datatable-thead > tr > th {
  background: #161616 !important;
  color: white !important;
}

.p-dropdown{
  width: 100% !important;
}


